what is web machine?
benifits
problems
Handles the hard parts of content negotiation, conditional requests, and response codes for you
visual debugger
callbacks
less boilder plate
compare senatra to webmachine
content negotiation
browsers bad HTTP citizens
web application developers bad HTTP citizens
language versions
developers are lazy
webmachine ruby
runs as a web server (webrick, mongrel)
rack adapter
ruby extensions
rspec specs failed
