! Why would I use it?
HTTP is hard
diagram of statemachine
Handles the hard parts of content negotiation, conditional requests, and response codes for you
less boilder plate
only implement the parts you care about
compare senatra to webmachine
webmachine ruby
runs as a web server (Webrick, Mongrel, Reel, and Hatetepe)
rack adapter
ruby extensions

! Problems
browsers bad HTTP citizens
web application developers bad HTTP citizens
developers are lazy
rspec specs failed
rails overloads POST
POST is create?
