%h1 What if we stopped doing integration testing?
.contents
  %div
    %ul
      %li Focus on MTTD/MTTR
      %li Use test transactions in production
      %li Use Consumer Driven Contracts to check our producers
      %li Use Recorded Interactions (VCR, Pact) to test our clients