%h1 Our realisations
.contents
  %div
    %ul
      %li.light We had good error detection in production (Nagios, Newrelic)
      %li.light We required the same skills to diagnose production and integration test defects
      %li.light We could detect issues quickly in prod (Mean Time to Detect - MTTD)
      %li We could deploy changes quickly to prod (Mean Time to Respond - MTTR, about 30 mins)