%h1 Consumer Driven Contracts
.contents
  %div
    %ul
      %li These are tests the consumers write that run as part of the producer's standalone build
      %li Each time you change a consumer, you update the consumer tests in the producer's codebase