%h1 Evolution of REA BIQ build pipelines
.contents
  %div
    %ul
      %li.light For one stream, certification environment took 2 months to build
      %li Number of defects detected:
        %span.hidden 0
          %sup *
