.contents
  %ul
    %li
      %strong Thank Yous!
      %br
      %br
      %br
    %li
      This presentation was made with:
    %li
      HTML5, CSS, Javascript
    %li
      Coffeescript, Underscore.js, JQuery, Angular.js, Twitter Bootstrap, Clientside HAML
    %li
      Rack Static, Sprockets, HAML, SASS, em-websocket and 44 lines of ruby
      