%h1 Our realisations
.contents
  %div
    %ul
      %li We had good error detection in production (Nagios, Newrelic)
      %li We required the same skills to diagnose production and integration test defects