%h1 What risks are we addressing by component integration testing?
.contents
  %div
    %ul
      %li.light 1. Prevention of coupled changes (deploy one change at a time)
      %li.light 2. Ensuring if we deploy a service provider, that existing consumers continue to work
      %li.light 3. Ensuring if we deploy a service consumer, that it works with existing providers
      %li 4. Ensure the automated deployment process works in a more production-like environment
