%h1 And as a result ...
.contents
  %div
    %ul
      %li Our builds are fast (less 10 minutes)
      %li Everyone knows how to deploy and debug production
      %li No snowflakes, flaky tests and information silos