%h1 What if we stopped doing integration testing?
.contents
  %div
    %ul
      %li.light Focus on MTTD/MTTR
      %li.light Use test transactions in production
      %li Use Consumer Driven Contracts to check our producers