%h1 Problems with integration test environments
.contents
  %div
    %ul
      %li To get Continuous Deployment going, each component needs it's own environment
      %li End to end tests are necessarily quite complex (all-knowing) and are difficult to keep from being fragile
      %li To keep end to end tests fast and reliable, we reduce the scope of testing to just smoke level
      %li Difficult to diagnose problems, 90% failures are false negatives