.contents
  %ul
    %li
      So go delete all your integration tests ...
      %br
    %li
      %img.img-rounded(src="/presentations/integration-tests/kittengun.jpg")
    %li
      %br
      or the kitten gets it!
