%h1 Integration Tests
  %strong really
  are a scam
.contents
  %div
    %p
      "Another bloody crack-pot going on about things we can't use. In all the time I've wasted listening I could have written another integration test!"
