%h1 Integration Tests
  %strong really
  are a scam
.contents
  %div
    %p
      At REA BIQ our build pipelines look like:
      %ul
        %li Standalone Testing (Fast, Unit Tests, Browser Tests, Local DB Tests)
        %li.light Package RPMs
        %li.light Deploy to prod
        %li.light Check prod works
