%h1 Recorded Interaction Tests
.contents
  %div
    %ul
      %li.light These are tests that play back recorded responses from a producer
      %li.light For XML and SOAP interfaces, we used VCR gem
      %li For out HTML web services, we use a utility that stubs the web service and records the expectations (Pact).
        These are played back as the consumer test.