%h1 Integration Tests really are a scam
.contents
  %div
    %p
      At REA BIQ our build pipelines look like:
      %ul
        %li Standalone Testing (Fast, Unit Tests, Browser Tests, Local DB Tests)
        %li Package RPMs
        %li Deploy to prod
        %li Check prod works
