%h1 Evolution of REA BIQ build pipelines
.contents
  %div
    %ul
      %li For one stream, certification environment took 2 months to build
      %li Number of defects detected:
        ! &nbsp;&nbsp;&nbsp;
