!!!
%html(ng-app)
  %head
    %link(href='/assets/bootstrap.css' rel='stylesheet')
    %link(href='/assets/shCore.css' rel='stylesheet')
    %link(href='/assets/shThemeDefault.css' rel='stylesheet')
    %link(href='/assets/presentation.css' rel='stylesheet')
    %script(type="text/javascript" src='/assets/xregexp-all.js')
    %script(type="text/javascript" src='/assets/shCore.js')
    %script(type="text/javascript" src='/assets/shBrushRuby.js')
    %script(type="text/javascript" src='/assets/presentation/presentation.js')
  %body(ng-controller="PresentationController")
    .alerts
    .slide
      %h1.logo Present It!