!!!
%html(ng-app)
  %head
    %link(href='/assets/bootstrap.css' rel='stylesheet')
    %link(href='/assets/presentation.css' rel='stylesheet')
    %script(type="text/javascript" src='/assets/presentation/presentation.js')
  %body(ng-controller="PresentationController")
    .slide